<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
        }

        #register, #login {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        @media only screen and (max-width: 600px) {
            #main {
                flex-direction: column;
            }
        }
    </style>
</head>
<body>
 
    <div id="main">
    <div id="register">
        <form action="/app/register-page" method="get">
            <button type="submit">Register</button>
        </form>
    </div>
    <div id="login">
        <form action="/app/login-page" method="get">
            <button type="submit">LogIn</button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>